<p id="notice"><%= notice %></p>

<p>
    <strong>Username:</strong>
    <%= @user.username %>
    <%= image_tag(@user.photo.thumb) %>
</p>

<% @items.each do |item| %>
    <div class="item">
        <h1><%= item.name %></h1>
        <p><%= item.description %></p>
        <div class="item--photo">
            <%= link_to(image_tag("#{item.photo}", :alt => "#{item.name}"), item) %>
        </div>
    </div>
<% end %>

<% if current_user == @user %>
    <%= link_to 'Edit', "#{@user.username}/edit" %>
<% end %>