<h1>In my house</h1>
<% if @in_my_house != nil %>
  <% @in_my_house.each do |loan| %>
    <h1><%= link_to "#{loan.item.name}", loan.item %></h1>
    <div class="item--photo">
        <%= link_to(image_tag("#{loan.item.photo}", :alt => "#{loan.item.name}"), loan.item) %>
    </div>
  <% end %>
<% else %>
<p>No items borrowed</p>
<% end %>

<h1>In their house</h1>
<% if @in_their_house != nil %>
  <% @in_their_house.each do |loan| %>
    <h1><%= link_to "#{loan.item.name}", loan.item %></h1>
    <div class="item--photo">
        <%= link_to(image_tag("#{loan.item.photo}", :alt => "#{loan.item.name}"), loan.item) %>
    </div>
  <% end %>
<% else %>
<p>No items loaned</p>
<% end %>

<h1>On my porch</h1>
<% @on_my_porch.each do |item| %>
  <h1><%= link_to "#{item.name}", item %></h1>
  <div class="item--photo">
      <%= link_to(image_tag("#{item.photo}", :alt => "#{item.name}"), item) %>
  </div>
<% end %>

<h1>Community feed</h1>
<% @community_items.each do |item| %>
<div class="item">
    <h1><%= link_to "#{item.name}", item %></h1>
    <p><%= item.description %></p>
    <% a = Geokit::Geocoders::GoogleGeocoder.geocode "#{current_user.address} #{current_user.city} #{current_user.state} #{current_user.zip}" %>
    <% b = Geokit::Geocoders::GoogleGeocoder.geocode "#{item.user.address} #{item.user.city} #{item.user.state} #{item.user.zip}" %>
    <%= a.distance_to(b).round(2) %> miles from home
    <div class="item--photo">
        <%= link_to(image_tag("#{item.photo}", :alt => "#{item.name}"), item) %>
    </div>
</div>
<% end %>