<a href="/last">
<%= image_tag("screen.png") %>
</a>

<!-- <div class="loan--approval">

<p id="notice"><%= notice %></p>

<h1>Loan approval</h1>

<% @loans.each do |loan| %>
  <%= User.find(loan.borrower_id).username %>'s rental of your <%= loan.item.name %>
  <% if loan.approved == true %>
    is approved.
    <h3>Pickup time</h3>
    <%= loan.reserved_start.strftime("%B %d at %I:%M %p") %>
    <h3>Dropoff day</h3>
    <%= loan.reserved_end.strftime("%B %d") %>
  <% elsif loan.approved == false %>
    was denied.
  <% else %>
    is pending.
    <h3>Their proposed pickup time</h3>
    <%= loan.reserved_start.strftime("%B %d at %I:%M %p") %>
    <%= link_to 'Edit', edit_loan_path(loan) %>
    <%= link_to 'Approve', "/loans/#{loan.id}/approve" %>
    <h3>Dropoff day</h3>
    <%= loan.reserved_end.strftime("%B %d") %>
  <% end %>
<% end %>

<h1>Rental approval</h1>

<% @rentals.each do |loan| %>
  Your rental of <%= User.find(loan.loaner_id).username %>'s <%= loan.item.name %>
  <% if loan.approved == true %>
    is approved.
    <h3>Pickup time</h3>
    <%= loan.reserved_start.strftime("%B %d at %I:%M %p") %>
    <h3>Dropoff day</h3>
    <%= loan.reserved_end.strftime("%B %d") %>
  <% elsif loan.approved == false %>
    was denied.
  <% else %>
    is pending.
    <h3>Your proposed pickup time</h3>
    <%= loan.reserved_start.strftime("%B %d at %I:%M %p") %>
    <%= link_to 'Edit pickup time', edit_loan_path(loan) %>
    <h3>Dropoff day</h3>
    <%= loan.reserved_end.strftime("%B %d") %>
  <% end %>
<% end %>

</div> -->