<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @loan.item_id %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @loan.borrower_id %>
</p>

<p>
  <strong>Loaner:</strong>
  <%= @loan.loaner_id %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @loan.approved %>
</p>

<p>
  <strong>Reserved start:</strong>
  <%= @loan.reserved_start %>
</p>

<p>
  <strong>Reserved end:</strong>
  <%= @loan.reserved_end %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
