<h1 class="search-results--title">Nearby “<%= params[:q] %>” Listings</h1>

<div class="items">
<% @items.each do |item| %>
    <div class="item">
        <div class="item--photo">
            <%= link_to(image_tag("#{item.photo}", :alt => "#{item.name}"), item) %>
        </div>

        <div class="user--info index">
            <a href="users/<%= item.user.id %>">
                <div class="square">
                    <div class="pic" style="background: url(<%= item.user.photo %>); background-size: 100%; background-position: center center; background-repeat: no-repeat;">
                    </div>
                </div>
            </a>

            <div class="username">
                <%= link_to "#{item.user.username}", item.user %>
            </div>
        </div>

        <div class="item--name">
            <%= link_to "#{item.name}", item %>
        </div>

        <a href="items/<%= item.id %>">
            <div class="price">
                <%= "$#{'%.0f' % item.price}" %>
                <%= image_tag("arrow.png", class: "arrow") %>
            </div>
        </a>
    </div>
<% end %>
<% if @items.count % 3 == 1 || @items.count == 2 || @items.count % 3 == 2 %>
  <div class="item">
  </div>
<% end %>
</div>
