<div class="item--page--title">
  <%= @item.name %>
</div>

<div class="item--page--left--side">
  <div class="item--page--photo">
    <%= image_tag("#{@item.photo}", :alt => "#{@item.name}") %>
  </div>

  <div class="user--info item--page">
    
    <a href="/<%= @item.user.username %>">
      <div class="square" id="item--square">
        <div class="pic" id="item--pic" style="background: url(<%= @item.user.photo.thumb %>); background-size: 100%">
        </div>
      </div>
    </a>

    <div class="username" id="username">
        <a href="/<%= @item.user.username %>">
            <%= @item.user.first_name %>
        </a>
    </div>
    <a href="/<%= @item.user.username %>">
      <div class="items--number">
        <% if @item.user.items.count == 1 %>
          1 ITEM
        <% else %>
          <%= @item.user.items.count %> ITEMS
        <% end %>
      </div>
    </a>

  </div>
  <% if current_user %>
  <div class="item--page--right--side">
    <% if @item.loans != [] %>
        <% loan = @item.loans.last %>
        <% if current_user.id == loan.borrower_id && loan.approved != true %>
            <div class="pinpoint--container">
              <div class="pinpoint">
                <%= image_tag("pinpoint.png") %>
              </div>
              <% a = Geokit::Geocoders::GoogleGeocoder.geocode "#{current_user.address} #{current_user.city} #{current_user.state} #{current_user.zip}" %>
              <% b = Geokit::Geocoders::GoogleGeocoder.geocode "#{@item.user.address} #{@item.user.city} #{@item.user.state} #{@item.user.zip}" %>
              <div class="distance--away">
                <%= a.distance_to(b).round(2) %> miles away
              </div>
            </div>
            <div class="actions">
                <div id="borrow--this">Borrow Requested</div>
            </div>
        <% elsif current_user.id == loan.loaner_id && loan.approved != true %>
            <div class="actions">
                <a href="/loans/<%= loan.id %>/approve">
                    <div id="borrow--this">Approve Loan</div>
                </a>
            </div>
        <% elsif current_user.id == loan.borrower_id && loan.approved == true && loan.reserved_end > Time.now %>
            <div class="pinpoint--container">
              <div class="pinpoint">
                <%= image_tag("pinpoint.png") %>
              </div>
              <% a = Geokit::Geocoders::GoogleGeocoder.geocode "#{current_user.address} #{current_user.city} #{current_user.state} #{current_user.zip}" %>
              <% b = Geokit::Geocoders::GoogleGeocoder.geocode "#{@item.user.address} #{@item.user.city} #{@item.user.state} #{@item.user.zip}" %>
              <div class="distance--away">
                <%= a.distance_to(b).round(2) %> miles away
              </div>
            </div>
        <% elsif current_user.id == loan.loaner_id && loan.approved == true && loan.reserved_end > Time.now %>
        <% else  %>
            <div class="pinpoint--container">
              <div class="pinpoint">
                <%= image_tag("pinpoint.png") %>
              </div>
              <% a = Geokit::Geocoders::GoogleGeocoder.geocode "#{current_user.address} #{current_user.city} #{current_user.state} #{current_user.zip}" %>
              <% b = Geokit::Geocoders::GoogleGeocoder.geocode "#{@item.user.address} #{@item.user.city} #{@item.user.state} #{@item.user.zip}" %>
              <div class="distance--away">
                <%= a.distance_to(b).round(2) %> miles away
              </div>
            </div>
            <div class="loan--request item--page">
                <%= form_for(@loan) do |f| %>
                    <% if @loan.errors.any? %>
                        <div id="error_explanation">
                            <h2>
                              <%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:
                            </h2>

                            <ul>
                                <% @loan.errors.full_messages.each do |message| %>
                                    <li>
                                      <%= message %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.hidden_field :borrower_id, :value => current_user.id %>
                    <%= f.hidden_field :loaner_id, :value => @item.user.id %>

                    <% if current_user.stripe_customer_token.present? %>

                        <p>You've already added a credit card.</p>

                    <% else %>

                        <%= f.hidden_field :stripe_card_token %>

                        <%= f.hidden_field :email, :value => current_user.email, "data-stripe" => "email" %>

                        <div class="field">
                            <%= label_tag :card_number, "Credit Card Number" %><br/>
                            <%= text_field_tag :card_number, nil, name: nil, "data-stripe" => "number" %>
                        </div>
                        <div class="field">
                            <%= label_tag :card_code, "Security Code on Card (CVV)" %><br/>
                            <%= text_field_tag :card_code, nil, name: nil, "data-stripe" => "cvc" %>
                        </div>
                        <div class="field">
                            <%= label_tag :card_month, "Card Expiration" %><br/>
                            <%= text_field_tag :card_month, nil, name: nil, "data-stripe" => "exp-month", class: "input-mini", "placeholder" => "MM" %>
                            <%= text_field_tag :card_year, nil, name: nil, "data-stripe" => "exp-year", class: "input-mini", "placeholder" => "YYYY" %>
                        </div>

                    <% end %>

                    <div class="field">
                        <%= f.label "BORROW ON" %><br>
                        <%= f.text_field :reserved_start, "class" => "datepicker" %>
                    </div>

                    <div class="field">
                        BORROW FEE <span>$<%= '%.0f' % @item.price %></span>
                    </div>
                    <hr/>
                    <div class="field">
                        LATE FEE <span>$<%= '%.0f' % (@item.price/10) %>/DAY</span>
                    </div>
                    <hr/>
                    <div class="actions">
                        <%= f.submit "Borrow This", :id => "borrow--this" %>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <div class="loan--request item--page">
      <%= form_for(@loan) do |f| %>
        <% if @loan.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:
            </h2>

            <ul>
              <% @loan.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :borrower_id, :value => current_user.id %>
        <%= f.hidden_field :loaner_id, :value => @item.user.id %>

        <% if current_user.stripe_customer_token.present? %>

          <p>You've already added a credit card.</p>

        <% else %>

      <%= f.hidden_field :stripe_card_token %>

      <%= f.hidden_field :email, :value => current_user.email, "data-stripe" => "email" %>

      <div class="field">
         <%= label_tag :card_number, "Credit Card Number" %><br/>
         <%= text_field_tag :card_number, nil, name: nil, "data-stripe" => "number" %>
      </div>
      <div class="field">
         <%= label_tag :card_code, "Security Code on Card (CVV)" %><br/>
         <%= text_field_tag :card_code, nil, name: nil, "data-stripe" => "cvc" %>
      </div>
      <div class="field">
          <%= label_tag :card_month, "Card Expiration" %><br/>
          <%= text_field_tag :card_month, nil, name: nil, "data-stripe" => "exp-month", class: "input-mini", "placeholder" => "MM" %>
          <%= text_field_tag :card_year, nil, name: nil, "data-stripe" => "exp-year", class: "input-mini", "placeholder" => "YYYY" %>
      </div>

       <% end %>

        <div class="field">
            <%= f.label "BORROW ON" %><br>
            <%= f.text_field :reserved_start, "class" => "datepicker" %>
        </div>

        <div class="field">
            BORROW FEE <span>$<%= '%.0f' % @item.price %></span>
        </div>
        <hr/>
        <div class="field">
            LATE FEE <span>$<%= '%.0f' % (@item.price/10) %>/DAY</span>
        </div>
        <hr/>
        <div class="actions">
            <%= f.submit "Borrow This", :id => "borrow--this" %>
        </div>
    </div>
    <% end %>
      
      <% end %>
    <div class="share--item">
        <h4>SHARE THIS</h4>
        <div class="social">
          <div class="facebook">
            <%= link_to "https://facebook.com/sharer.php?u=http%3A%2F%2Fwww.dueintwo.com#{item_path(@item)}", :target => "_blank" do %>
              <%= image_tag("social/facebook.png", :alt => "facebook}") %>
            <% end %>
          </div>
          <div class="twitter">
            <%= link_to "https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.dueintwo.com#{item_path(@item)}&text=I love this #{ @item.name }. You can borrow it here:&via=dueintwo", :target => "_blank" do %>
              <%= image_tag("social/twitter.png", :alt => "twitter}") %>
            <% end %>
          </div>
          <div class="pinterest">
              <%= link_to "https://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.dueintwo.com#{item_path(@item)}&media=#{@item.photo}&description=#{@item.description}", :target => "_blank" do %>
              <%= image_tag("social/pinterest.png", :alt => "pinterest}") %>
            <% end %>
          </div>
        </div>
    </div>
    <div class="fee">* SUBJECT TO DAMAGE/REPLACEMENT FEES</div>
  </div>
  <% end %>
  <div class="item--description">
    <%= @item.description %>
  </div>
</div>

    <% @items.each do |item| %>
        <% unless item.id = @item.id %>
<div class="nearby--listings">
    <div class="home--header">
      <div class="home--header--left">
          <div class="home--header--long">
          </div>
          <div class="home--header--short">
          </div>
      </div>
      <h2>SIMILAR LISTINGS</h2>
      <div class="home--header--right">
          <div class="home--header--long">
          </div>
          <div class="home--header--short">
          </div>
      </div>
    </div>
    <div class="items">
          <div class="item">
              <a href="items/<%= item.id %>">
                  <div class="item--photo" style="background:url('<%= item.photo %>'); background-size: cover;">
                  </div>
              </a>
  
              <div class="user--info index">
                  <a href="users/<%= item.user.id %>">
                      <div class="square">
                          <div class="pic" style="background: url(<%= item.user.photo.thumb %>); background-size: 100%; background-position: center center; background-repeat: no-repeat;">
                          </div>
                      </div>
                  </a>
  
                  <div class="username">
                      <%= link_to "#{item.user.first_name}", item.user %>
                  </div>
              </div>
  
              <div class="item--name">
                  <%= link_to "#{item.name}", item %>
              </div>
    
              <a href="items/<%= item.id %>">
                  <div class="price">
                      <%= "$#{'%.0f' % item.price}" %>
                      <%= image_tag("arrow.png", class: "arrow") %>
                  </div>
              </a>
          </div>
      <% end %>
      <% if @items.count % 3 == 1 || @items.count == 2 || @items.count % 3 == 2 %>
        <div class="item">
        </div>
        <% end %>
      <% end %>
      </div>
</div>


<% item_loans = @item.loans %>
<% borrow = false %>
<% if current_user %>
    <% item_loans.each do |loan| %>
      <% if loan.borrower_id == current_user.id && loan.approved == false %>
        <% if loan.messages.present? == false %>
          <% borrow = true %>
        <% end %>
      <% end %>
    <% end %>
<% end %>

<% if borrow == true %>
  <%= form_for(@message) do |f| %>
    <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

        <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :borrower_id, :value => current_user.id %>
    <%= f.hidden_field :loaner_id, :value => @item.user.id %>

    <%= f.hidden_field :loan_id, :value => @loan.id %>

    <div class="field">
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

<% if current_user %>
<% if current_user.stripe_customer_token.present? == false %>
  <script>
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');

  var stripeResponseHandler = function(status, response) {
    var $form = $('#new_loan');

    if (response.error) {
      // Show the errors on the form
      $form.find('#stripe_error').text(response.error.message);
      $form.find('input[type=submit]').prop('disabled', false);
    } else {
      // token contains id, last4, and card type
      var token = response.id;
    
      // Insert the token into the form so it gets submitted to the server
      $form.find($('#loan_stripe_card_token').val(token));
      // and re-submit
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
        $('#new_loan').submit(function(e) {
          var $form = $(this);

          // Disable the submit button to prevent repeated clicks
          $form.find('input[type=submit]').prop('disabled', true);

          Stripe.createToken($form, stripeResponseHandler);

          // Prevent the form from submitting with the default action
          return false;
        });
      });
  </script>  
<% end %>
<% end %>

<% if @item.loans %>
<% reserved_dates = [] %>
<% @item.loans.each do |loan| %>
    <% if loan.reserved_end > Time.now %>
        <% reserved_dates << (loan.reserved_start - 2).strftime("%F") %>
        <% reserved_dates << (loan.reserved_start - 1).strftime("%F") %>
        <% reserved_dates << loan.reserved_start.strftime("%F") %>
        <% reserved_dates << (loan.reserved_start + 1).strftime("%F") %>
        <% reserved_dates << loan.reserved_end.strftime("%F") %>
    <% end %>
<% end %>

<script>
    $(document).ready(function(){
        var reserved = <%= reserved_dates.to_json.html_safe %>;
        console.log(reserved)
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        
        $('.datepicker').datepicker({
            startDate: today,
            beforeShowDay: function(date){
               var formattedDate = $.fn.datepicker.DPGlobal.formatDate(date, 'yyyy-mm-dd', 'pl');
               console.log(formattedDate);
               if ($.inArray(formattedDate.toString(), reserved) != -1){
                   return {
                      enabled : false
                   };
               }
              return;
            }
        });
    });
</script>
<% end %>

<style>
.datepicker {
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    direction: ltr;
}
</style>